
.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-secondary);
}

.container {
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.switchers,
.links {
    gap: 24px;
    display: flex;
    flex-direction: row;
}