
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}