:root {
    --font-family-main: 'Ubuntu', sans-serif;
    --font-size-md: 16px;
    --font-line-md: 24px;
    --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);
    --font-size-lg: 16px;
    --font-line-lg: 24px;
    --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);

}