
.input {
    border: 1px solid var(--bg-secondary);
    border-radius: 4px;
    background: var(--bg-primary);
    font-size: 16px;
    padding: 6px 12px;
    color: var(--text-primary)
}

.input::placeholder {
    color: var(--text-tertriary)
}

.label {
    display: flex;
    align-items: start;
    flex-direction: column;

    span {
        color: var(--text-primary);
        font-size: 14px;
    }
}