
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left {
    width: 60%;
    background: var(--bg-secondary);
    margin: -32px 0 -32px -32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.right {
    width: 40%;
}