@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

body {
    font: var(--font-md);
    color: var(--text-primary);
}

.app {
    background: var(--bg-primary);
    min-height: 100vh;
    
    // Dimensions
    --navbar-height: 50px;

    // z-indexes
    --modal-z-index: 10;
}