
.card {
    border-radius: 12px;
    overflow: hidden;
    background: var(--bg-primary);
}

.border {
    border: 1px solid var(--bg-secondary);
}

.shadow {
    filter: var(--shadow-primary);
}

.clickable {
    cursor: pointer;
}