
.placeholder {
    color: var(--text-primary)
}

.container {
    display: flex;
    flex-direction: row;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 var(--text-primary);

    &:focus {
        outline: none;
    }
}

.caretContainer {
    position: relative;
}

.caret {
    position: absolute;
    height: 3px;
    bottom: 0;
    background: var(--text-primary);
    width: 9px;
    animation: blink 0.7s forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }
  
    100% {
        opacity: 1;
    }
}