
.badge {
    border-radius: 50px;
}

.filled {
    background: var(--inverted-bg-primary);
    color: var(--inverted-text-primary);
}

.outlined {
    background: transparent;
    border: 1px solid var(--inverted-bg-primary);
    color: var(--text-primary);
}

.md {
    font-size: 16px;
    padding: 4px 8px;
}

.sm {
    font-size: 14px;
    padding: 3px 12px 2px;
}

.clickable {
    cursor: pointer;
}