
.app.dark {
    --bg-primary: #1F2224;
    --bg-secondary: #2A2E30;
    --text-primary: #FFF;
    --text-secondary: rgb(255 255 255 / 75%);
    --inverted-text-primary: #181B1D;
    --inverted-text-secondary: #1F2224;
}