
.app-light-theme {
    // bg colors
    --bg-primary: #FFF;
    --bg-secondary: #e3dede;
    --inverted-bg-primary: #1F2224;
    --inverted-bg-secondary: #2A2E30;

    // text colors
    --text-primary: #181B1D;
    --text-secondary: #1F2224;
    --inverted-text-primary: #FFF;
    --inverted-text-secondary: rgb(255 255 255 / 75%);

    // overlay colors
    --overlay-primary: rgb(0 0 0 / 60%);
}