
.app-light-theme {
    // bg colors
    --bg-primary: #FFF;
    --bg-secondary: #e3dede;
    --inverted-bg-primary: #1F2224;
    --inverted-bg-secondary: #2A2E30;
    --inverted-bg: #2A2E30;

    // text colors
    --text-primary: #181B1D;
    --text-secondary: #1F2224;
    --text-tertriary: #c0c0c0;
    --inverted-text-primary: #FFF;
    --inverted-text-secondary: rgb(255 255 255 / 75%);
    --inverted-text-tertriary: #ccc;

    // overlay colors
    --overlay-primary: rgb(0 0 0 / 60%);

    // shadows
    --shadow-primary: drop-shadow(0px 4px 12px rgb(0 0 0 / 10%));
}