
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    height: 100%;
}

.info {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 12px;
    border: 1px solid var(--bg-secondary);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left{
    padding: 40px;
    background: var(--bg-secondary);
    width: 40%;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.right {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
}

.table {
    margin-top: 24px;
    width: 100%;
    background: var(--bg-primary);
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-self: end;
    gap: 8px;
}